/* ======================================================================== 
   Stylesheet für Boulevard (Österreich ist-ur.org)
   
   Datei: boulevard.css
   Datum: 19.04.2014
   Autor: Bergsocke
   
   Eingebundene Schriftarten:
   'Erpressung Normal'
   Quelle: http://www.fontsaddict.com/fontface/erpressung-normal.TTF  
   ======================================================================= */
@font-face {
	font-family: 'Erpressung Normal';
	src: url('/resources/fonts/ERPRN___.TTF');
}

p#logo_pic {
	margin-top: 2em;
}

p#logo_text {
	font-family: 'Erpressung normal';
	font-size: 80px;
	text-align: center;
}

/*
The fixed navbar will overlay our other content, unless we add padding to the bottom of the <body>. 
*/
.html,body {
	background: #f3f3f3;
	padding-bottom: 70px;
}

h1 {
	font-size: 75px;
	font-family: 'Bree Serif', serif;
}


.top10_member {
     font-family: 'Bree Serif', serif;
}

/* =====================================================================
	ENDE DES STYLESHEETS
   ===================================================================== */